page-home {
    .main-button {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #ffffff;
        background-color: black;
        color: white;
        font-size: 4rem;
    }
    .light-main {
        top: 50px;
    }
    .sound-main {
        top: 300px;
    }
    .scent-main {
        top: 550px;
    }
    .main-button:active {
        background-color: #FFF;
        opacity: 0.8;
        color: black;
    }
    .light-line {
        top: 240px;
    }
    .sound-line {
        top: 510px;
    }
    .normal-button {
        width: 150px;
        height: 50px;
        border-radius: 2rem;
        font-size: 2rem;
    }
    .light-white {
        top: 40px;
    }
    .mid-btn {
        left: 630px;
    }
    .left-btn {
        left: 300px;
    }
    .right-btn {
        left: 960px;
    }
    .sound-text {
        left: 350px;
        top: 295px;
        font-size: 4rem;
        color: white;
    }
    .track-button {
        width: 70px;
        height: 70px;
        border-radius: 2rem;
        font-size: 1.5rem;
    }
    .first-btn {
        left: 520px;
    }
    .second-btn {
        left: 620px;
    }
    .third-btn {
        left: 720px;
    }
    .scent-text {
        left: 350px;
        top: 550px;
        font-size: 4rem;
        color: white;
    }
    .clo2-text {
        left: 750px;
        top: 550px;
        font-size: 4rem;
        color: white;
    }
    .scent-toggle {
        top: 555px !important;
        left: 480px;
    }
    .clo2-toggle {
        top: 555px !important;
        left: 870px;
    }
    .back-button{
        top:5%;
        right:5%;
    }
}