page-light-home {
    .light-text {
        top: 3%;
        left: 43%;
    }
    .func-text {
        top: 8%;
        left: 5%;
    }
    .color-text {
        top: 35%;
        left: 5%;
    }
    .bright-text {
        top: 40%;
        left: 15%;
    }
    .exact-text {
        top: 40%;
        left: 46%;
    }
    .dark-text {
        top: 40%;
        left: 78%;
    }
    .functional-line {
        top: 31%;
    }
    .vertical-line-1 {
        top: 45%;
        left: 33%;
    }
    .vertical-line-2 {
        top: 45%;
        left: 66%;
    }
    .normal-button {
        width: 150px;
        height: 50px;
        border-radius: 2rem;
        font-size: 2rem;
    }
    .left-btn {
        top: 18%;
        left: 10%;
    }
    .mid-btn {
        top: 18%;
        left: 40%;
    }
    .right-btn {
        top: 18%;
        left: 70%;
    }
    .color-button {
        width: 80px;
        height: 80px;
        border-radius: 2rem;
    }
    .one-btn {
        top: 45%;
    }
    .two-btn {
        top: 54%;
    }
    .three-btn {
        top: 63%;
    }
    .four-btn {
        top: 72%;
    }
    .five-btn {
        top: 81%;
    }
    .six-btn {
        top: 90%;
    }
}