// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
[abs] {
    position: absolute;
}

[left-25] {
    left: 25px;
}

[left-200] {
    left: 200px;
}

[top-140] {
    top: 140px;
}

[top-420] {
    top: 420px;
}

[top-280] {
    top: 280px;
}

[top-675] {
    top: 675px;
}